<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Shortcut Icon" type="image/x-icon" href="assets/icons/book.ico" />
    <script src="js/sweet-alert.min.js"></script>
    <link rel="stylesheet" href="sweet-alert.css">
    <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <title>Modificaciones</title>
</head>
<body>
    <div class="navbar-lateral full-reset">
        <div class="visible-xs font-movile-menu mobile-menu-button"></div>
        <div class="full-reset container-menu-movile nav-lateral-scroll">
            <div class="logo full-reset all-tittles">
                <i class="visible-xs zmdi zmdi-close pull-left mobile-menu-button" style="line-height: 55px; cursor: pointer; padding: 0 10px; margin-left: 7px;"></i> 
                Biblioteca Hogwarts
            </div>
            <div class="nav-lateral-divider full-reset"></div>
            <div class="full-reset" style="padding: 10px 0; color:#fff;">
                <figure>
                    <img src="assets/img/logo.png" alt="Biblioteca" class="img-responsive center-box" style="width:55%;">
                </figure>
                <p class="text-center" style="padding-top: 15px;">Menu</p>
            </div>
            <div class="nav-lateral-divider full-reset"></div>
            <div class="full-reset nav-lateral-list-menu">
                <ul class="list-unstyled">
                    <li><a href="/menu"><i class="zmdi zmdi-home zmdi-hc-fw"></i>&nbsp;&nbsp; Inicio</a></li>
                    <li>
                        <div class="dropdown-menu-button"><i class="zmdi zmdi-account-add zmdi-hc-fw"></i>&nbsp;&nbsp; Clientes <i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw icon-sub-menu"></i></div>
                        <ul class="list-unstyled">
                            <li><a href="/clienteIngresoMenu" method="get"><i class="zmdi zmdi-face zmdi-hc-fw"></i>&nbsp;&nbsp; Ingresar un nuevo cliente</a></li>
                            <li><a href="/clienteModificarMenu" method="get"><i class="zmdi zmdi-male-alt zmdi-hc-fw"></i>&nbsp;&nbsp; Modificar datos de un cliente</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="dropdown-menu-button"><i class="zmdi zmdi-case zmdi-hc-fw"></i>&nbsp;&nbsp; Inventario <i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw icon-sub-menu"></i></div>
                        <ul class="list-unstyled">
                            <li><a href="/inventarioIngresoMenu"><i class="zmdi zmdi-balance zmdi-hc-fw"></i>&nbsp;&nbsp; Ingresar datos a inventario</a></li>
                            <li><a href="/inventarioModificarMenu"><i class="zmdi zmdi-truck zmdi-hc-fw"></i>&nbsp;&nbsp; Modificar datos de el inventario</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="dropdown-menu-button"><i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i>&nbsp;&nbsp; Libros <i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw icon-sub-menu"></i></div>
                        <ul class="list-unstyled">
                            <li><a href="/librosIngresoMenu"><i class="zmdi zmdi-book zmdi-hc-fw"></i>&nbsp;&nbsp; Ingresar un nuevo libro</a></li>
                            <li><a href="/librosModificarMenu"><i class="zmdi zmdi-bookmark-outline zmdi-hc-fw"></i>&nbsp;&nbsp; Modificar datos un libro</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="dropdown-menu-button"><i class="zmdi zmdi-alarm zmdi-hc-fw"></i>&nbsp;&nbsp; Préstamos <i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw icon-sub-menu"></i></div>
                        <ul class="list-unstyled">
                            <li><a href="/prestamosIngresoMenu"><i class="zmdi zmdi-calendar zmdi-hc-fw"></i>&nbsp;&nbsp; Ingresar un nuevo prestamo</a></li>
                            <li><a href="/prestamosModificarMenu"><i class="zmdi zmdi-calendar zmdi-hc-fw"></i>&nbsp;&nbsp; Modificar datos de un prestamo</a></li>
                            
                        </ul>
                    </li>
                    
                    <li><a href="/clienteConteo"><i class="zmdi zmdi-face zmdi-hc-fw"></i>&nbsp;&nbsp; Conteos</a></li>
                </ul>
            </div>
        </div>
    </div>






<!-- aqui es el centro -->
    <div class="content-page-container full-reset custom-scroll-containers">

        <div class="container">
            <div class="page-header">
              <h1 class="all-tittles">Sistema bibliotecario <small>Modificando</small></h1>
            </div>
        </div>
        <!-- section son los cuadros -->
        <section class="full-reset text-center" style="padding: 40px 0;">
            
    <h4>Modifique o elimine el dato de un cliente</h4>
    <div class="formulario"></div><br>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Direccion</th>
            <th scope="col">Codigo</th>
            <th scope="col">Numero</th>
          </tr>
        </thead>
        <tbody>
          <% if(data){ %>
            <%for(var i = 0;i<data.length;i++){ %>
                <tr>
                    <td >
                        <%= data[i].pk_id_cliente %>
                    </td>
                    <td >
                        <%= data[i].nombre_c %>
                    </td>
                    <td >
                        <%= data[i].apellido_c %>
                    </td>
                    <td>
                        <%= data[i].direccion %>
                    </td >
                    <td >
                        <%= data[i].codigo_postal %>
                    </td>
                    <td >
                        <%= data[i].num_tel %>
                    </td>
                    <td>
                        <!-- <a href="/clienteEliminar" class="btn btn-secondary">Eliminar</a> -->
                        <a href="/clienteEliminar/<%= data[i].pk_id_cliente%>" class="btn btn-secondary">Eliminar</a>
                    </td>
                    <td>
                        <!-- <a href="/clienteActualizar" class="btn btn-secondary">Actualizar</a> -->
                        <a href="/clienteActualizar/<%= data[i].pk_id_cliente%>" class="btn btn-secondary">Actualizar</a>

                    </td>
                </tr>
       
            <% } %>
        <% } %>
        </tbody>
      </table>


        </section>
        
    </div>

</body>
</html>